
FashionShop/.DS_Store

.gitignore

FashionShop/FashionShop.xcodeproj/project.xcworkspace/contents.xcworkspacedata

FashionShop/FashionShop.xcodeproj/xcuserdata/HeQingshan.xcuserdatad/xcschemes/xcschememanagement.plist

FashionShop/FashionShop/.DS_Store

FashionShop/Library/RestKit/RestKit.xcodeproj/xcuserdata/HeQingshan.xcuserdatad/xcschemes/RestKit.xcscheme

FashionShop/Library/RestKit/RestKit.xcodeproj/xcuserdata/HeQingshan.xcuserdatad/xcschemes/RestKitFramework.xcscheme

FashionShop/FashionShop.xcodeproj/project.xcworkspace/xcuserdata/HeQingshan.xcuserdatad/UserInterfaceState.xcuserstate

FashionShop/Library/RestKit/RestKit.xcodeproj/xcuserdata/HeQingshan.xcuserdatad/xcschemes/RestKitResources.xcscheme

FashionShop/Library/RestKit/RestKit.xcodeproj/xcuserdata/HeQingshan.xcuserdatad/xcschemes/xcschememanagement.plist

FashionShop/Controls/.DS_Store
